.cc-container
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	width: 423px;
	height: 236px;
	background-color: #363739;
	border: solid 1px #2f3032;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
}
.cc-header
{
	height: 25px;
	color: White;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: bold;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#747577), to(#363739));
	background-image: -moz-linear-gradient(#747577, #363739);
	background-image: -webkit-linear-gradient(#747577, #363739);
	background-image: -o-linear-gradient(#747577, #363739);
}
.cc-contents
{
	margin-left: 12px;
	padding: 8px;
	width: 381px;
	height: 176px;
	border: solid 1px #2f3032;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #f1f1f1;
}
.cc-contents label
{
	display: inline-block;
	color: #616161;
	width: 97px;
}
.cc-contents input[type=text]
{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	height: 22px;
}
.cc-contents input.large
{
	width: 260px;
}
.cc-contents input.small
{
	width: 64px;
}
.cc-contents input.cc-checkout
{
	width: 80px;
	height: 28px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-top: solid 1px #0C528E;
	border-bottom: solid 1px #0E7EBD;
	border-left: solid 1px #0E7EBD;
	border-right: solid 1px #0E7EBD;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#107EBD), to(#0C54B7));
	background-image: -moz-linear-gradient(#107EBD, #0C54B7);
	background-image: -webkit-linear-gradient(#107EBD, #0C54B7);
	background-image: -o-linear-gradient(#107EBD, #0C54B7);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#107EBD, endColorstr=#0C54B7)";
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#107EBD, endColorstr=#0C54B7)";
	color: White;
	cursor: pointer;
	font-weight: bold;
}
.cc-ddl
{
	width: 160px;
	color: #616161;
}
.cc-ddl .cc-ddl-header
{
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	padding: 4px;
	text-align: left;
	height: 18px;
	border-bottom: solid 1px #7E7E7E;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #DDDDDD;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#B6B6B6));
	background-image: -moz-linear-gradient(#DDDDDD, #B6B6B6);
	background-image: -webkit-linear-gradient(#DDDDDD, #B6B6B6);
	background-image: -o-linear-gradient(#DDDDDD, #B6B6B6);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDD, endColorstr=#B6B6B6)";
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDD, endColorstr=#B6B6B6)";	
	cursor: pointer;
}
.cc-ddl-title
{
	background: url(arrow.png) no-repeat right;
	width: 100%;
}
.cc-ddl-contents
{
	width: 158px;
	position: absolute;
	background-color: #DDDDDD;
	overflow-y: scroll;
	height: 110px;
	border: solid 1px #A9A9A9;
	margin-top: -4px;
}
.cc-ddl-contents a
{
	text-decoration: none;
	color: #616161;
	padding: 6px;
	display: block;
}
.cc-ddl-contents a:active, .cc-ddl-contents a:hover, .cc-ddl-contents a:visited
{
	text-decoration: none;
	color: #616161;
	background-color: #B6B6B6;
	display: block;
}
.cc-ddl-o
{
	display: none;
}
